/* 
    Made by Kacper Osko
*/

* {
    padding: 0;
    margin: 0;
    font-family: Tahoma, sans-serif;
}
@keyframes timeStart{
    0% {
        width: 860px;
    }
    100% {
        width: 0px;
    }
}
.timerAnimation{
    animation-name: timeStart;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}
.timer{
    width: 860px;
    height: 10px;
    background-color: #96d97b;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 12px;
    margin-bottom: 10px;
}
.main-box{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F3E6D6;
}

.popup{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
@keyframes up{
    0%{
        transform: translateY(400%);
    }
    100%{
        transform: translateY(0%);
    }
}
@keyframes down{
    0%{
        transform: translateY(0%);
    }
    100%{
        transform: translateY(400%);
    }
}
.up{
    animation: up 1s ease-in-out 0s forwards;
}
.down{
    animation: down 1s ease-in-out 0s forwards;
}
.popup-box{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 200px;
    background-color: #7f47df;
    border-radius: 20px;
    -moz-box-shadow: 0 0 50px rgb(55, 55, 55);
    -webkit-box-shadow: 0 0 50px rgb(55, 55, 55);
    box-shadow: 0 0 50px rgb(55, 55, 55);
}
#popup-text{
    margin-left: 15px;
    margin-right: 15px;
}
.card-quiz{
    width: 900px;
    height: 750px;
    background-color: #ebd7be;
    border-radius: 20px;
    box-shadow:5px 5px 20px 8px #a1a1a1;
}
.card-main{
    display: flex;
    flex-direction: column;
}
.category-path{
    border: #7AE6B3;
    width: 200px;
}
.final-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.footer{
    width: 900px;
    background-color: #41C0F2;
    display: flex;
}
.foot-box{
    width: 300px;
}
.foot-text{
    font-size: 20px;
    font-weight: 600;
    color: #9D7BD9;
}
.card-quiz > h2 {
    font-size: 27px;
    font-weight: 600;
    color: #9D7BD9;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.card-quiz > h3 {
    font-size: 25px;
    font-weight: 500;
    color: #9D7BD9;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
#start{
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    border: solid 3px #9D7BD9;
    border-radius: 10px;
    margin-top: 120px;   

}
#final{
    background-color: transparent;
    border: solid 3px #9D7BD9;
    border-radius: 10px;
}
.start_button{
    color:#9D7BD9;
    font-size: 20px;
    position: relative;
    width: 150px;
    height: 70px;
}
#start:hover, #final:hover{
    background-color: #9D7BD9;
    color: #ebd7be;
}
.answer-box{
    height: 80% !important;
}
.answer{
    width: 400px !important;
    border: solid 3px;
    border-radius: 20px;
    margin: 10px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#a1{border-color: #7AE6B3;}
#a2{border-color: #41C0F2;}
#a3{border-color: #FFE870;}
#a4{border-color: #F272C5;}

.a1:hover{background-color: #7AE6B3; color:white;}
.a2:hover{background-color: #41C0F2; color: white;}
.a3:hover{background-color: #FFE870; color: white}
.a4:hover{background-color: #F272C5; color: white;}

/* Custom dropdown */
.custom-dropdown {
    position: relative;
    display: inline-block;
    vertical-align: middle;
  }
.big {
    font-size: 1.2em;
}
  
.custom-dropdown select {
    background-color: #41C0F2;
    width: 280px;
    color: #fff;
    font-size: inherit;
    padding: .5em;
    padding-right: 2.5em; 
    border: 0;
    border-radius: 3px;
    text-indent: 0.01px;
    text-overflow: '';
    -webkit-appearance: button;
}
  
.custom-dropdown::before,
.custom-dropdown::after {
    content: "";
    position: absolute;
    pointer-events: none;
}
  
.custom-dropdown::after {
    content: "\25BC";
    height: 1em;
    font-size: .625em;
    line-height: 1;
    right: 1.2em;
    top: 50%;
    margin-top: -.5em;
}
  
.custom-dropdown::before {
    width: 2em;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 0 3px 3px 0;
}

.custom-dropdown select[disabled] {
    color: rgba(0,0,0,.3);
}

.custom-dropdown select[disabled]::after {
    color: rgba(0,0,0,.1);
}

.custom-dropdown::before {
    background-color: rgba(0,0,0,.15);
}

.custom-dropdown::after {
    color: rgba(0,0,0,.4);
}